body{
  margin: 0;
}
.main{
  width: 1000px;
  margin: 0px auto;
  overflow: hidden;
  min-height: 300px;
}

.web-w{
  width: 1200px;
  margin: 0 auto;
}
.el-header{
  border-bottom: solid 1px #e6e6e6;
}
