body{
  margin: 0;
}
.section{
  position: relative;
}
.index-main{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 990px;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

}

.web-w{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}


.el-header{
  border-bottom: solid 1px #e6e6e6;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App-logo-spin-2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
